body {
	padding: 10px;
}

.container {
	padding: 0px;
	border-radius: 10px;
	background-color: #cdf4ff;
}

#header {
	color: #4f8fa7;
}

.box.box-solid.box-default {
	border-color: #4f8fa7;

	&>.box-header {
		background-color: #5da4c7;
		color: #ffffff;
		text-align: center;
	}
}

.fa-map-marker {
	font-size: 1.4em;
}

.favorito {
	color: #FF0000;
}

.overlay {
	display: none;
}

.box-previsao {
	padding: 0px;
}

.previsao-img {
	margin: 0px auto;
}

.previsao-min,
.previsao-max {
	font-size: 1.6em;
}

.previsao-min {
	color: #0000FF;
}

.previsao-max {
	color: #FF4400;
}

.box-proximos-dias .box-body {
	font-size: 1.6em;
}

.box-praia {
	.box-body {
		position: relative;
	}

	.img-praia {
		width: 100%;
	}

	.mensagem-praia {
		position: absolute;
		width: 100%;
		bottom: 6px;
		font-size: 1.2em;
		font-weight: bold;
	}

	.text-white {
		color: #fff;
	}

	.text-black {
		color: #000;
	}
}

#grafico-variacao {
	width: 350px;
	height: 150px;
}

@media (max-width: 768px) {
	.previsao-dia {
		padding: 10px;

		&:not(:last-child) {
			border-bottom: 3px solid #d2d6de;
		}

		&:first-child {
			padding-top: 0px;
		}

		&:last-child {
			padding-bottom: 0px;
		}
	}
}